
body {
    background-color: #023047;
    border: 10px solid #fb8500;
    text-align: center;
    padding-bottom: 5%;
    }

img {
    height:10rem;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:xx-large;
    color: #219ebc
    
}

#gameMessage {
    font-size: larger;
    margin: 0 0 20px 0;
    color: #fb8500;
}

#question {
    color: rgb(229, 227, 227);
    font-size: x-large;
    margin-bottom: 20px;
    
}

#options {
    color: rgb(229, 227, 227);
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

button {
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    margin: 10px;
}
button:hover {
    color: #001F3F;
    background-color: #fff;
}

#toggle, #reset, #openDirections {
    font-size: x-small;
}

.directions {
    
    background-color: #219ebc;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.directions.open {
    opacity: 1;
    z-index: 999;
}

.directions-inner {
    background-color:#023047;
    
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
    width: 380px;
}

.directions-inner h2 {
    margin: 0;
    color:#fb8500
}

.directions-inner p {
    line-height: 24px;
    margin: 10px 0;
    color:#fff
}

audio {
    display: block;
    margin: 15% auto;
    padding: 15%;
    align-content: center;
    text-align: center;
    
}